<% provide(:title, "Contact") %>
<h1>Contact</h1>

<!-- https://github.com/apneadiving/Google-Maps-for-Rails -->


<div class="container">
	<div class="row-fluid">
        <div class="span8">
        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17812.525817927228!2d-2.1257238812333017!3d57.16817655127361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48840e0400000000%3A0xfa5ca7f4f50108e!2sUniversity+of+Aberdeen!5e0!3m2!1sen!2sus!4v1507404861325" allowfullscreen></iframe>
    	</div>
    	
      	<div class="span4">
    		<address>
    			<strong>Oil News - University of Aberdeen</strong><br>
    			King`s College<br>
    			Aberdeen<br>
    			United Kingdom<br>
    			AB24 3FX<br>
    			<abbr title="Phone">P:</abbr> 01234 567 890
    		</address>
    	</div>
    </div>
</div>