<%= form_with(model: reserve, local: true) do |form| %>
  <% if reserve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>

      <ul>
      <% reserve.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
