

<h1>Global Oil Reserves HeatMap</h1>

 <body>
    <div id="regions_div" style="width: 800px; text-align: center; height: 400px; margin: 0 auto"></div>
  </body>


<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" async></script>
    <script type="text/javascript">

      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
      

      
      var data = google.visualization.arrayToDataTable(<%=raw reserves %>);


        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }

    </script>
  </head>
  
 
</html>

