<%= form_with(model: energy_usage, local: true) do |form| %>
  <% if energy_usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(energy_usage.errors.count, "error") %> prohibited this energy_usage from being saved:</h2>

      <ul>
      <% energy_usage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :energy_usage_country %>
  </div>

  <div class="field">
    <%= form.label :energy_use %>
    <%= form.number_field :energy_use, id: :energy_usage_energy_use %>
  </div>

  <div class="field">
    <%= form.label :gdp_per_capita %>
    <%= form.number_field :gdp_per_capita, id: :energy_usage_gdp_per_capita %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
