

<h1>Energy Usages</h1>

<div id="container" style="height: 700px; min-width: 350px; max-width: 800px; margin: 0 auto"></div>

<html>
  <head>

    <p> The link between energy consumption and economic growth has been a topic of wide discussion. A large number of studies have attempted to derive the causal relationship between energy consumption and economic growth, however no clear consensus has emerged.13 This can be partly attributed to the fact that the link between energy and prosperity is not always unidirectional. Gaining access to electricity and other energy sources may provide an initial increase in GDP, but having higher GDP may in turn drive higher energy consumption. Additionally, progress in development outcomes can be complex: a number of parameters may be improving at the same time. If, for example, energy access and consumption, nutrition, education, health, and sanitation are all improving simultaneously (and having complex relationships with one another), it can be hard to directly attribute improvement in living standards back to a single parameter. </p>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

   <script type="text/javascript">

   Highcharts.chart('container', {

    chart: {
        type: 'bubble',
        plotBorderWidth: 1,
        zoomType: 'xy'
    },

    legend: {
        enabled: false
    },

    title: {
        text: 'Energy usage per capita vs GDP per capita, 2014'
    },

    subtitle: {
        text: 'Source: <a href="https://ourworldindata.org/">Our world in Data</a>'
    },

    xAxis: {
        startOnTick: false,
        endOnTick: false,
        title: {
            text: 'GDP per capita (2011 int-$)'
        },
        labels: {
            format: '{value} $'
        },
        maxPadding: 0.2,
        plotLines: [{
            color: 'black',
            dashStyle: 'dot',
            width: 2,
            value: 7,
            zIndex: 3
        }]
    },


    yAxis: {
        gridLineWidth: 1,
        title: {
            text: 'Energy use per capita (kg oil equivalent)'
        },
        labels: {
            format: '{value} kWh'
        },
        plotLines: [{
            color: 'black',
            dashStyle: 'dot',
            width: 2,
            value: 5,
            zIndex: 3
        }]
    },

    tooltip: {
        useHTML: true,
        headerFormat: '<table>',
        pointFormat: '<tr><th colspan="2"><h3>{point.name}</h3></th></tr>' +
            '<tr><th>Energy usage:</th><td>{point.x}</td></tr>' +
            '<tr><th>GDP per capita:</th><td>{point.y}$</td></tr>' +
            '<tr><th>Population:</th><td>{point.z}</td></tr>',
        footerFormat: '</table>',
        followPointer: true
    },

    plotOptions: {
        series: {
            dataLabels: {
                enabled: false,
                format: '{point.name}'
            }
        }
    },

    series: [{
        data: (<%=raw energy %>)
    }]

});

    </script>
  </head>
  
 
</html>
