<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @energy_usage.country %>
</p>

<p>
  <strong>Energy use:</strong>
  <%= @energy_usage.energy_use %>
</p>

<p>
  <strong>Gdp per capita:</strong>
  <%= @energy_usage.gdp_per_capita %>
</p>

<%= link_to 'Edit', edit_energy_usage_path(@energy_usage) %> |
<%= link_to 'Back', energy_usages_path %>
