<body style="background-color: green">

<% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown">
<div  style="background-image: url('https://st1.skybet.com/content/cadmin/e506dc9a084e705e2e2694c97f247859.jpg'); width: 100%; height: 300px; position: inline;">
</div>
</body>