<div class="stats">
  <a><strong id="scored" class="stat">
    <%= @scored %>
  </strong>
  Goals Scored
  </a>
  <a><strong id="conceded" class="stat">
    <%= @conceded %>
  </strong>
  Goals Conceded
  </a>
</div>