<h1>Global Oil Production</h1>


<html>
  <head>
  	<body>
<div id="regions_div" style="width: 800px; text-align: center; height: 400px; margin: 0 auto">
      <p>Type in State abbreviation</p>
      <%= form_tag "/productions/show" do |f| %>
      <%= text_field_tag :country, nil, placeholder: "Select State", class: 'form-control' %>
      <%= submit_tag "Get Statistics", class: "btn btn-primary" %>
      <% end %>

      <p>The data is available for following countries:</p>
	<p>Kazakhstan,	Russian Federation, 	Australia,	Canada,	Saudi Arabia</p>
	<p>United States,	Venezuela, 	Brazil,	Libya,	Algeria</p>
    <p>China, Egypt, Ecuador, France, Norway, Germany, Iran, India, Jordan</p>
	<p>Syrian Arab Republic, Turkmenistan and etc.</p>

</div>


 </body>
 </head>
</html> 


