<h1> Oil Production</h1>
<h1> <%= @country %> </h1>







<%= line_chart Production.order(:year).where(:country => @country).map{|f| [f.year, f.quantity]}.group_by, xtitle: "Year", ytitle: "Volume of oil Production" %>

