<h1>Live Oil & Alternative Energy Production Data</h1>


<body>
    <div id="regions_div" style="width: 800px; text-align: center; height: 400px; margin: 0 auto">



<script type="text/javascript" src="https://oilprice.com/widgets/energyproduction.js" ></script>

	

		<script type="text/javascript" src="https://oilprice.com/widgets/alternateenergy.js" ></script>

		<script type="text/javascript" src="https://oilprice.com/widgets/alternateenergyc.js" ></script>

		<script type="text/javascript" src="https://oilprice.com/widgets/fossilfuel.js" turbolinks:load></script>

		<script type="text/javascript" src="https://oilprice.com/widgets/worldenergy.js" ></script>

</div>
  </body>


		
	









