<footer class="footer">
  <small style="color: grey;">
    The Oil statistics APP is created by Kanat Kussembayev
  </small>
  <nav>
    <ul >
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.oilandgaspeople.com/news/">News</a></li>
    </ul>
  </nav>
</footer>